:root {
  --transparency: .8;
  --bioColor: rgba(96,127,211,var(--transparency));
  --projectColor: rgba(78,203,194,var(--transparency));
  --contactColor: rgba(125,234,91,var(--transparency));
}

@font-face {
    font-family: RalewayBold;
    src: url(Fonts/Raleway-ExtraBold.ttf);
    font-family: Raleway;
    src: url(Fonts/Raleway-Regular.ttf);
    font-family: RalewaySemiBold;
    src: url(Fonts/Raleway-SemiBold.ttf);
}

html, body{
	margin:0;
	padding:0;
	height: 100%; 
	width: 100%;
	font-family: Raleway, Arial, Helvetica, sans-serif ;
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
}
/*Allows divs to reach sides of windows and vertically aligns text*/

h1{
	font-size: 64px;
	font-family: Arial;

}

h2{
	font-family: RalewayBold, Arial;
	display:inline;
}

.selector{
	position:fixed;
	align-items : center;
	width: 100%;
	height: 85px;
	text-align: center;
	vertical-align: middle;
	line-height: 80px; 	
}

.headerSpace{
	width: 100%;
	height: 85px;
	text-align: center;
	vertical-align: middle;
	line-height: 90px; 	
}

.box {
	background: rgba(255,167,99,var(--transparency));
	float:left;
	width: 33.333%;
	height: 100%;
    border-color: 
} 

.innerBox{
	margin-top: 1.5px;
	margin-left:1px;
	margin-right:1px;
	background:rgba(1,1,1,0.8);
}

.profile_pic{
	display:block;
	margin: auto;
	margin-top: 65px;
	margin-bottom: 65px;
	width:15%;
	min-width: 200px;
	border-radius: 25px;
    border: 2px solid #000000;
}

a:link {
	color:black;
	text-decoration:none
}

a:visited {
	color:black;
	text-decoration:none
}
/*Color of links*/
/*Hover must come after link and visited*/

.bio{
	text-align: center;
	background:var(--bioColor);
	width:100%;
}

.bioContainer{
	padding-left:20%;
	padding-right:20%;
}

.bioText{
	font-size: 32px;
}

.projects{
	font-size: 32px;
	background:var(--projectColor);
	width: 100%;
	height: 92%;
	min-height: 800px;
	min-width: 1100px;
}

.project{
	height: 50%;
	width:50%;
	display: block;
	float:left;
	text-align: center;
		overflow:auto;
}

.projectContainer{
	padding-left:5%;
	padding-right:5%;
}

.projectImage{
	height: 46%;
	width: auto;
	display: block;
	margin:auto;
	border-radius: 25px;
    border: 2px solid #000000;
    margin-top: 20px;
    margin-bottom: 20px;

}

.projectDescription{
	overflow:auto;
}

.contact{
	text-align: center;
	font-size: 20px;
	background:var(--contactColor);
}

.clear{
	clear:both;
}
/*Clears float*/

.icon{
	height:20px;
	margin-bottom: -4px;
}

.end{
	height:10%;
	background:rgba(1,1,1,.1);
	width: 100%;
	position: relative;
}
/*Space at bottom of page*/

.photoCred{
	position:absolute;
    bottom: 0;
    right: 0;
}

/*
http://paletton.com/#uid=53g0y0kjCJ+8WWveQQDnOCBsNvZ
*/

