html, body{
	margin:0;
	padding:0;
	height: 100%; 
	width: 100%;
	font-family: Arial, Helvetica, sans-serif ;
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
}
/*Allows divs to reach sides of windows and vertically aligns text*/
h1{
	font:sans-serif;
	font-size: 132px;
}

h2{
	display:inline;
}

.header{
	align-items : center;
	width: 100%;
	height: 75px;
	text-align: center;
	vertical-align: middle;
	line-height: 80px; 	
}

.profile_pic{
	display:block;
	margin: auto;
	width:15%;
	border-radius: 25px;
    border: 2px solid #000000;
}

.box {
	background:rgba(1,1,1,0.8);
	float:left;
	width: 33%;
	height: 100%;
	border-style: solid;
    border-width: .1%;
    border-left-width: 0px;
    border-right-width: .01%;
    border-color: purple;

} 

a:link {
	color:white;
	text-decoration:none
}
a:visited {
	color:white;
text-decoration:none
}
/*Color of links*/



/*adds blank space at bottom of page*/

.bio{
	text-align: center;
	background:rgba(255,255,255,0.3);
}

.biotext{
	margin:20%;
	font-size: 32px;
}

.icon{
	height:20px;
	margin-bottom: -5px;
}

.projects{
	font-size: 32px;
	background:rgba(1,1,255,0.3);
	width: 100%;
	height: 100%;
}

.project{
	height: 50%;
	width:50%;
	display: block;
	float:left;
	text-align: center;
}

.projectImage{
	height: 50%;
	width: auto;
	display: block;
	margin:auto;
	border-radius: 25px;
    border: 2px solid #000000;

}

.contact{
	text-align: center;
	font-size: 20px;
	background:rgba(1,255,1,0.3);
}

.clear{
	clear:both;
}
/*Clears float*/

.end{
	height:10%;
	background:rgba(1,1,1,.1);
	width: 100%;
}

